#contact-form .log, #home {
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*, h1, h2, h3, h4, h5, h6, div, p, ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  color: #f2f2f2;
  font-family: "Laksaman", Arial, Helvetica, sans-serif;
  font-size: 16.5px;
  line-height: 1.6;
  scroll-behavior: smooth;
}

#landing {
  height: 100%;
  width: 100%;
  background-image: url("../imgs/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
#landing .landing-capsule {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#landing .landing-capsule header {
  margin-top: 120px;
}
#landing .landing-capsule header h1 {
  font-weight: bold;
}
#landing .landing-controls {
  margin-top: 60px;
}
#landing .landing-controls .btn {
  border-radius: 30px;
  padding: 6px 30px;
  background-color: rgba(128, 0, 128, 0.6);
  color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}
#landing .landing-controls .btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #800080;
}
#landing .landing-controls .btn:active {
  transform: scale(0.6);
}
#landing .landing-footer {
  margin-top: 80px;
  font-size: 15px;
}
#landing .landing-footer .bg-img-link a {
  color: #f2f2f2;
}
#landing .landing-footer .bg-img-link a:hover {
  color: #ffff00;
}

#home {
  color: #4d4d4d;
  display: none;
}
#home #branding {
  padding: 20px;
  background-color: #0088d4;
  color: #f2f2f2;
}
#home #content-capsule {
  padding: 20px;
  overflow: auto;
}
#home #content-capsule .active[data-tab-content] {
  display: block;
}
#home #content-capsule [data-tab-content] {
  display: none;
}
#home #footer {
  padding: 20px 40px;
  background-color: #cccccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#home #footer .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
#home #footer .links h5 {
  font-weight: bold;
}
#home #footer .links li {
  margin-left: 22px;
  list-style-type: georgian;
}
#home #footer .links a {
  color: #4d4d4d;
}

#nav {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}
#nav .nav-capsule {
  margin: 0 20px 0 0;
  display: flex;
  flex-direction: column;
}
#nav .nav-capsule .tab.active {
  background-color: #0088d4;
  color: #ffffff;
}
#nav .nav-capsule .tab.active a {
  color: #ffffff;
}
#nav .nav-capsule .tab.active:hover {
  background-color: #0088d4;
  color: #ffffff;
}
#nav .nav-capsule .btn {
  border-radius: 50%;
  margin: 10px 0px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  color: #4d4d4d;
}
#nav .nav-capsule .btn:hover {
  background-color: #4d4d4d;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  color: #f2f2f2;
}
#nav .nav-capsule .btn:hover a {
  color: #ffffff;
}
#nav .nav-capsule .btn:active {
  transform: scale(1.4);
}
#nav .nav-capsule .bi {
  font-size: 24px;
}
#nav .nav-capsule a {
  color: #4d4d4d;
  text-decoration: none;
}

#nav-mobile {
  margin: 10px;
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}
#nav-mobile .nav-mobile-capsule {
  margin: 0 10px 0 0;
  display: flex;
  flex-direction: column;
}
#nav-mobile .nav-mobile-capsule .tab.active {
  background-color: #0088d4;
  color: #ffffff;
}
#nav-mobile .nav-mobile-capsule .tab.active a {
  color: #ffffff;
}
#nav-mobile .nav-mobile-capsule .tab.active:hover {
  background-color: #0088d4;
  color: #ffffff;
}
#nav-mobile .nav-mobile-capsule .btn {
  border-radius: 50%;
  margin: 10px 0px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: #4d4d4d;
}
#nav-mobile .nav-mobile-capsule .btn:active {
  transform: scale(1.2);
}
#nav-mobile .nav-mobile-capsule .bi {
  font-size: 22px;
}
#nav-mobile .nav-mobile-capsule a {
  color: #4d4d4d;
  text-decoration: none;
}

#contact h4, #contact-form {
  margin: auto;
  width: 40%;
}

#contact-form {
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ffffff;
}
#contact-form .log {
  border: none;
  border-radius: 3px;
  padding: 10px;
  display: none;
}
#contact-form .log-err {
  background-color: red;
  color: #f2f2f2;
}
#contact-form .log-success {
  background-color: green;
  color: #f2f2f2;
}
#contact-form .dual {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
#contact-form textarea {
  min-height: 100px;
}
#contact-form #submit {
  border: none;
  border-radius: 20px;
}
#contact-form:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#portfolio .portfolio-capsule {
  margin: auto;
  width: 80%;
}
#portfolio .portfolio-capsule .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
#portfolio .portfolio-capsule .gallery .tile {
  height: 300px;
  width: 300px;
}
#portfolio .portfolio-capsule .gallery .tile:hover {
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
  transition: 0.3s;
  z-index: 3;
}

#about {
  margin: auto;
  margin-bottom: 40px;
  height: 70vh auto;
  width: 60%;
}
#about p {
  font-size: 18px;
}

/* laptops, large tablets */
@media (max-width: 1000px) {
  #home #footer {
    padding: 20px 10px;
  }
  #portfolio .portfolio-capsule .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  #portfolio .portfolio-capsule .gallery .tile {
    height: 100%;
    width: 100%;
  }
}
/* tablet devices: */
@media (max-width: 768px) {
  #landing .landing-controls .btn {
    background-color: rgba(128, 0, 128, 0.6);
    color: #f2f2f2;
  }
  #home #footer {
    flex-direction: column;
  }
  #home #footer .links {
    margin: auto;
    width: auto;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
  #about {
    width: 90%;
  }
  #about p {
    font-size: 16px;
  }
  #portfolio {
    width: 100%;
  }
  #portfolio .portfolio-capsule .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  #portfolio .portfolio-capsule .gallery .tile:hover {
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transform: none;
    transition: none;
    z-index: 0;
  }
  #nav {
    display: none;
  }
  #nav .nav-capsule .bi {
    font-size: 24px;
  }
  #nav-mobile {
    display: block;
  }
}
/* small devices */
@media (max-width: 552px) {
  #landing .landing-controls {
    margin-top: 40px;
  }
  #home #branding h1 {
    font-size: 30px;
  }
  #about h2, #portfolio h2 {
    font-size: 26px;
  }
}

/*# sourceMappingURL=index.css.map */
