#landing {
    height: 100%;
    width: 100%;
    background-image: url('../imgs/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    


    .landing-capsule {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.65);
        display: flex;
        flex-direction: column;
        align-items: center;


        header {
            margin-top: 120px;

            h1 {
                font-weight: bold;
            }
        }
    }

    .landing-controls {
        margin-top: 60px;

        .btn {
            border-radius: 30px;
            padding: 6px 30px;
            background-color: rgba(128, 0, 128, 0.6);
            color: $light-hue;
            font-size: 18px;
            font-weight: bold;
            transition: 0.3s;

            &:hover {
                background-color: rgba(255, 255, 255, 0.7);
                color: #800080;
            }

            &:active {
                transform: scale(0.6);
            }
        }
    }

    .landing-footer {
        margin-top: 80px;
        font-size: 15px;

        .bg-img-link a{
            color: $light-hue;

            &:hover {
                color: #ffff00;
            }
        }
    }
}